
{% load static %}
{%load render_partial%}
<!DOCTYPE html>
<html lang="fa" dir="rtl">

{% include 'includes/head_links.html' %}

<body>


<!-- Topbar Start -->
 {% include 'includes/topbar.html' %}
<!-- Topbar End -->


<!-- Navbar Start -->
{%render_partial 'product:navbar' %}

<!-- Navbar End -->


{% if messages %}
<div class="container-fluid px-xl-5" role="status">
    {% for message in messages %}<div class="alert alert-info">{{ message }}</div>{% endfor %}
</div>
{% endif %}
{% block main %}

{% endblock %}


<!-- Footer Start -->
{% include 'includes/footer.html' %}
<!-- Footer End -->


<!-- Back to Top -->

<a href="#"
   class="btn btn-primary back-to-top">

    <i class="fa fa-angle-double-up"></i>

</a>


<!-- JavaScript Libraries -->

<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>

<script src="{% static 'lib/easing/easing.min.js' %}"></script>

<script src="{% static 'lib/owlcarousel/owl.carousel.min.js' %}"></script>

<script src="{% static 'mail/jqBootstrapValidation.min.js' %}"></script>

<script src="{% static 'mail/contact.js' %}"></script>

<script src="{% static 'js/main.js' %}"></script>

</body>

</html>
